# Todo cliente (tenant) terá dois arquivos: .env.development.nome-tenant e .env.production.nome-tenant
# Copie o conteúdo abaixo e cole nesses novos arquivos criados.

# APP
VITE_PORT=

# API
VITE_API_URL=
VITE_SOCKET_URL=
