<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      padding: 20px;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="
        max-width: 600px;
        margin: auto;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      "
    >
      <tr>
        <td style="padding: 20px; text-align: left">
          <table width="100%">
            <tr>
              <td style="font-size: 24px; font-weight: bold">[NOME_EMPRESA]</td>
              <td style="text-align: right">
                <img
                  src="[URL_LOGO_EMPRESA]"
                  alt="Logo"
                  style="max-height: 40px"
                />
              </td>
            </tr>
          </table>
          <div
            style="
              height: 2px;
              background: linear-gradient(to right, #007bff, #66b2ff);
              border-radius: 1px;
              margin: 24px 0;
            "
          ></div>

          <h2 style="color: #000">
            [NOME_USUARIO], temos um presente para você!
          </h2>

          <p style="font-size: 16px; color: #333">
            Este mês foi corrido, hein? Para mostrar nosso apreço à toda a
            equipe, o financeiro <b>[NOME_EMPRESA]</b> preparou um bônus
            especial para você.
          </p>
          <p style="text-align: center; margin: 30px 0">
            <a
              href="[LINK_BOTAO]"
              style="
                background-color: #007bff;
                color: #fff;
                padding: 14px 28px;
                border-radius: 6px;
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
              "
            >
              Acessar bônus
            </a>
          </p>
          <p style="font-size: 16px; color: #333">
            Atenciosamente,<br />[NOME_EMPRESA]
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
